body, h1, p{
    margin: 0;
    background-color: #fffd92;
}
.body_scroll_stop{
    overflow: hidden;
    touch-action: none;
}
.loadingimage{
    z-index: 800;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    display: none;
}
.loadingimage img{
    width: 90px;
    height: 90px;
}
.main_bg{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #fffd92;
}
.nav{
    /* position: relative; */
    padding: 16px;
    width: 90%;
    /* height: 35px; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.logo{
    margin: 0 20px;
    font-size: 20px;
    color: #ff0000;
}
.logo span{
    margin: 0 10px;
    color: #ff0000;
    font-weight: bold;
}
.menu_icon{
    /* font-weight: bold; */
    font-size: 16px;
    position: absolute;
    right: 20px;
    /* top: 0; */
    width: 20em;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.menu_icon span{
    margin: 0 10px;
    color: #000000;
    font-size: 25px;
}
.main_box{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    /* background: #000; */
    display: flex;
    justify-content: center;
}
.paint{
    width: 800px;
}
.paint_list{
    margin: 0 auto;
    column-width: 150px;
    column-gap: 15px;
}
.paint_list figure{
    display: inline-block;
    margin: 0;
    padding: 10px;
}
.paint_list figure img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.upload_modal{
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    flex-direction: column;
}
.upload_modal_box{
    width: 400px;
    height: 300px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.upload_btn{
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
}
.upload_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.img_upload_submit{
    top: 0px;
    right: 0px;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #0051ff;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    border: none;
}
.img_upload_cancel{
    text-align: center;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ff0000;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border: none;
}
.info_input_box{
    position: relative;
    margin-top: 20px;
    width: 400px;
    height: 200px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    overflow: hidden;
    animation: fadeinleft 0.5s;
    display: none;
}
.info_input_box input{
    /* width: 95%; */
    border-bottom: dashed 1px #000;
    outline: none;
    font-size: 12px;
    /* font-weight: bold; */
    padding: 10px;
    /* border-radius: 20px; */
}
.info_input_box input:not(:nth-child(1)){
    width: 95%;
}
.info_radio_button{
    display: flex;
    position: absolute;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 80px; */
    right: 10px;
    bottom: 40px;
    border: none;
    font-size: 15px;
}
.info_radio_button input{
    width: 130px;
    border: none;
    background: #000;
    color: white;
}
.info_radio_button label{
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}
.info_radio_button label:nth-child(1){
    margin: 0;
    cursor: pointer;
}
input[id="is_mine"]:checked + label {
	background-color: #C4DFAA;
    border-radius: 3px;
    padding: 5px;
}
input[id="is_not_mine"]:checked + label {
	background-color: #fb0000;
    border-radius: 3px;
    padding: 5px;
    color: white;
}

.info_input_box input:nth-child(4){
    border: none;
    border-top: dashed 1px #000;
    color: red;
    font-weight: bold;
}
.info_input_box textarea{
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    /* font-weight: bold; */
    padding: 10px;
    resize: none;
}
.info_input_box button{
    position: absolute;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    background-color: #0051ff;
    color: white;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
.not_img_upload{
    position: relative;
    margin-bottom: 20px;
    width: 400px;
    height: 30px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: fadeinleft 0.5s;
    display: none;
    color: red;
    font-weight: bold;
}
.user_info{
    position: relative;
    cursor: pointer;
}

.user_menu{
    display: none;
    top:35px;
    left: 0px;
    border-radius: 10px;
    position: absolute;
    width: 100px;
    height: 5.2em;
    background-color:#C4DFAA;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    animation: fadeinbottom 0.5s;
    justify-content: space-around;
}
.user_menu div{
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    padding: 5px 15px;
    width: 100%;
    border-bottom: dotted 1px #000;
    background-color:#C4DFAA;
    font-weight: bold;  
}
.user_menu div:nth-child(3){
    border: none;
}
.user_menu div:nth-child(1){
    color: red;
}
.detail_modal{
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    flex-direction: column;
}
.detail_modal_box{
    width: 800px;
    height: 500px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0 0 10px #000; */
    /* border: thick dotted #C4DFAA; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
    background-image: url('https://cdn.crowdpic.net/detail-thumb/thumb_d_1A86BB105758AFE13E87A8881686FA61.jpg');
    /* animation: fadein 1.5s; */
    display: flex;
}
.detail_img{
    width: 50%;
    border-radius: 50px;
    margin: 30px;
    overflow: hidden;
    height: 400px;
    display: flex;
    justify-content: center;
}
.detail_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail_artist{
    font-size: 50px;
}
.detail_artist span{
    font-size: 30px;
    margin-left: 20px;
}
.detail_info{
    position: relative;
    width: 50%;
    height: 80%;
    padding: 30px;
}
.detail_info h2{
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: inherit;
    height: 1.3em;
    font-size: 20px;
}
.detail_desc{
    height: 67%;
}
.detail_bottom{
    display: flex;
    justify-content: space-between;;
}
.detail_buy{
    background-color: #C4DFAA;
    padding: 10px 20px;
    border-radius: 10px;
}
.detail_like{
    cursor: pointer;
    background-color: #F5F0BB;
    padding: 10px 20px;
    border-radius: 10px;
}
.fa-heart{
    color: red;
}
.detail_modal_close{
    z-index: 5;
    font-size: 20px;
    top: 10px;
    right: 10px;
    position: absolute;
}

@keyframes fadeinleft {
    0% {
        opacity: 0;
        transform: translate3d(-100% ,0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes fadein{
    0% {
        opacity: 0;
        transform: translate3d(0 ,0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeinbottom {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@media screen and (max-width: 810px){
    .detail_modal_box{
        flex-direction: column;
        width: 500px;
        height: 600px;
    }
    .detail_img {
        width: 85%;
        height: 50%;
    }
    .detail_info{
        width: 85%;
        height: 15%;
    }
    .detail_info h2{
        font-size: 25px;
    }
    .detail_artist{
        font-size: 30px;
    }
    .detail_desc{
        height: 80%;
        overflow: hidden;
    }
}
@media screen and (max-width: 510px){
    .detail_modal_box{
        flex-direction: column;
        width: 350px;
        height: 600px;
    }
    .detail_img {
        width: 85%;
        height: 50%;
    }
    .detail_info{
        width: 85%;
        height: 15%;
    }
    .detail_info h2{
        font-size: 25px;
    }
    .detail_artist{
        font-size: 30px;
    }
    .detail_desc{
        height: 80%;
        overflow: hidden;
    }
}

@media screen and (max-width: 450px){
    #welcome_user{
        display: none;
    }
    .menu_icon{
        width: 10em;
    }
    .upload_modal_box{
        width: 330px;
    }
    .info_input_box{
        width: 330px;
    }
    .not_img_upload{
        width: 330px;
    }
}