body,p,h1{
    margin: 0;
    background-color: #fffd92;
}
.nav{
    /* position: relative; */
    padding: 16px;
    width: 90%;
    /* height: 35px; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.logo{
    margin: 0 20px;
    font-size: 20px;
    color: #ff0000;
}
.logo span{
    margin: 0 10px;
    color: #ff0000;
    font-weight: bold;
}
.menu_icon{
    /* font-weight: bold; */
    font-size: 16px;
    position: absolute;
    right: 20px;
    /* top: 0; */
    width: 20em;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.menu_icon span{
    margin: 0 10px;
    color: #000000;
    font-size: 25px;
}
.user_menu{
    display: none;
    top:35px;
    left: 0px;
    border-radius: 10px;
    position: absolute;
    width: 100px;
    height: 5.2em;
    background-color:#C4DFAA;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    animation: fadeinbottom 0.5s;
    justify-content: space-around;
}
.user_menu div{
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    padding: 5px 15px;
    width: 100%;
    border-bottom: dotted 1px #000;
    background-color:#C4DFAA;
    font-weight: bold;  
}
.user_menu div:nth-child(3){
    border: none;
}
.user_menu div:nth-child(1){
    color: red;
}
.my_picture_list{
    margin-top: 60px;
}
.my_picture_list ul li img{
    width: 500px;
    height: 600px;
    /* object-fit: cover; */
    border-radius: 10px;
}

.title_h1{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.title_h1 h1{
    padding: 20px;
    color: white;
    border-radius: 20px;
    background: #000;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}
.my_picture_cost{
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 12px;
    color: #FF5D5D;
    background: #FFE3A9;
    box-shadow: 0px 0px 10px #000;
}
.my_picture_like{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
    background: #FF5D5D;
    box-shadow: 0px 0px 10px #000;
}
.my_picture_public{
    text-align: center;
    cursor: pointer;
    position: absolute;
    width: 85%;
    right: 10px;
    bottom: 10px;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 12px;
    color: #ff0000;
    background: #FFC3C3;
    box-shadow: 0px 0px 10px #000;
}
.collection_info{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.user_info{
    display: flex;
    justify-content: center;
}
.user_info figure div{   
    text-align: center;
    cursor: pointer;
}
.user_info figure{
    position: relative;
}
.user_info figure div:nth-child(1){
    font-size: 40px;
}
.user_info figure div:nth-child(2){
    font-weight: bold;
    font-size: 14px;
}
.grade_info{
    right: -170px;
    top: 50px;
    position: absolute;
    width: 150px;
    background: #000;
    color: white;
    padding: 10px;
    border-radius: 10px;
    animation: scale 0.5s;
    display: none;
}
.collection_info figure{
    text-align: center;
}

@keyframes scale {
    0% {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}

@media screen and (max-height: 1080px) {
    .my_picture_list ul li img{
        width: 300px;
        height: 400px;
    }
    
}