body, h1, p{
    margin: 0;
}
.main_bg{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #fffd92;
}
.nav{
    position: relative;
    padding: 16px;
    width: 100%;
    height: 35px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.logo{
    margin: 0 20px;
    font-size: 20px;
    color: #ff0000;
}
.logo span{
    margin: 0 10px;
    color: #ff0000;
    font-weight: bold;
}
.menu_icon{
    /* font-weight: bold; */
    font-size: 0.9em;
    position: absolute;
    right: 20px;
    /* top: 0; */
    margin: 0 20px;
    width: 350px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.menu_icon span{
    margin: 0 10px;
    color: #000000;
    font-size: 25px;
}
.login_button{
    cursor: pointer;
    margin: 0 0 0 20px;
    padding: 10px 20px;
    background-color: #ff0000;
    border-radius: 25px;
    color: aliceblue;
}
.join_button{
    cursor: pointer;
    padding: 10px 20px;
    background-color: #cdcdcd;
    border-radius: 25px;
    color: aliceblue;
}
.main_box{
    width: 100%;
    height: 100%;
    display: flex;
}
.main_img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.main_img_list{
    position: relative;
    width: 298px;
    height: 456px;
    display: flex;
    align-items: center;
}
.main_img_list div{
    position: absolute;
}

.main_img_list div:nth-child(1){
    z-index: 2;
    width: 298px;
    height: 456px;
    border-radius: 20px;
    overflow: hidden;
    animation: fadeInLeft 1s;
}
.main_img_list div:nth-child(2){
    /* display: none; */
    right: -100px;
    top: -100px;
    width: 178px;
    height: 218px;
    border-radius: 20px;
    overflow: hidden;
    animation: fadeInrightconner 1.5s;
}
.main_img_list div:nth-child(3){
    /* display: none; */
    left: -140px;
    width: 204px;
    height: 285px;
    border-radius: 20px;
    overflow: hidden;
    animation: fadeinleft 1.5s;
}
.main_img_list div:nth-child(4){
    /* display: none; */
    right: -100px;
    bottom: -100px;
    width: 164px;
    height: 258px;
    border-radius: 20px;
    overflow: hidden;
    animation: fadeinrightconnerbottom 1.5s;
}

.main_img_list div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 100%;
}
.main_text div{
    width: 50%;
    text-align: center;
}
.main_text div:nth-child(3){
    cursor: pointer;
    width: 50%;
    text-align: center;
}
.main_text div:nth-child(1){
    font-size: 50px;
    margin-bottom: 20px;
}
.main_text div:nth-child(2){
    font-size: 20px;
    margin-bottom: 20px;
}
.main_text div:nth-child(3){
    width: 200px;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    background: #aa4900;
    font-size: 30px;
    margin-bottom: 20px;
}
.login_modal{
    z-index: 999;
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.join_modal{
    z-index: 999;
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}

.login_modal_box{
    position: relative;
    width: 484px;
    height: 50%;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    animation: scale 0.5s;
}
.join_modal_box{
    position: relative;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    width: 484px;
    height: 65%;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    animation: scale 0.5s;
}
.login_modal_box_close{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
}
.login_modal_box{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal_title{
    font-size: 30px;
    padding: 30px 0px;
}
.login_modal span{
    /* margin: 0 20px; */
    font-size: 50px;
    color: #ff0000;
}
.join_modal_box span{
    /* margin: 0 20px; */
    font-size: 50px;
    color: #ff0000;
}
.modal_login_box{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.login_modal_box input{
    margin: 0px 0px 10px 0px;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cecece;
}
.join_modal_box input{
    margin: 0px 0px 10px 0px;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cecece;
}
.modal_login_button{
    display: flex;
    justify-content: center;
    background: #ff0000;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
}
.modal_kakao_login_button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background: #ffe100;
    padding: 10px;
    border-radius: 10px;
}

@keyframes fadeInrightconner {
    0% {
        opacity: 0;
        transform: translate3d(100%, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeinleft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeinrightconnerbottom {
    0% {
        opacity: 0;
        transform: translate3d(100%, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}

@media screen and (max-width: 1090px) {
    .main_text{
        display: none;
    }
    .main_img{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .main_img div{
        display: none;
    }
    .main_img div:nth-child(1){
        display: block;
    }

}
@media screen and (max-width: 600px) {
    .menu_icon div:nth-child(1){
        display: none;
    }
    .menu_icon {
        width: 220px;
    }
}